body {
	margin : 0px;
	padding : 0px;
}

header, footer {
	height : 44px;
	width:100%;
	line-height : 44px;
}

content {
	display : block;
}

ul.horizontal-slide {
    margin: 0;
    padding: 0;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
}

ul.horizontal-slide li[class*="col"] {
    display: inline-block;
    float: none;
}

ul.horizontal-slide li[class*="col"]:first-child {
    margin-left: 0;
}

ul.horizontal-slide li img {
	height: 150px;
    width: 150px;
}

.modal-content {
	height: 90%;
    margin: 5%;
    width: 90%;
}

.width50 {
	width : 50%;
}

.height50 {
	height : 50%;
}